{% extends 'blog/base.html' %}

{% block content %}
    <h2>{% if post %}Editar{% else %}Novo{% endif %} Post</h2>
    
    <form method="post">
        {% csrf_token %}
        <label>Título:</label><br>
        <input type="text" name="title" value="{{ post.title|default:'' }}"><br><br>
        
        <label>Conteúdo (HTML):</label><br>
        <textarea name="content" rows="10" cols="30">{{ post.content|default:'' }}</textarea><br><br>
        
        <button type="submit">Salvar</button>
    </form>
{% endblock %}